<div data-controller="tooltip" class="d-flex align-items-center" title="<%= usuario.nome %>" style="cursor: default;">
  <div class="symbol symbol-35px symbol-circle me-2">
    <% if usuario.avatar.present? %>
      <%= image_tag usuario.avatar_url %>
    <% else %>
      <div class="symbol-label fs-2 fw-bold bg-secondary text-success">
        <%= usuario.nome[0] %>
      </div>
    <% end %>
  </div>

  <div class="lh-sm">
    <div>
      <%= usuario.nome.split.first %>
      <% if current_usuario.sudo? %>
        <a data-bs-toggle="dropdown" class="text-muted" href="#">
          <%= icon "gear", size: 13 %>
        </a>

        <div class="dropdown-menu">
          <%= link_to "Impersonate", impersonate_usuario_path(usuario), class: "dropdown-item" %>
        </div>
      <% end %>
    </div>
    <div class="text-muted"><%= descricao %></div>
  </div>
</div>
