<%= turbo_frame_tag @equipe do %>
  <div class="card mb-5">
    <div class="card-header d-flex align-items-center border-0 pt-5">
      <div class="col">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label fw-bolder text-dark fs-3"><%= @equipe.nome %></span>
          <span class="text-muted mt-2 fs-7"><%= pluralize @equipe.participacoes.count, "participante", "participantes" %></span>
        </h3>
      </div>

      <% if @equipe.avaliador.present? %>
        <div class="col-auto">
          <%= render "equipes/responsavel", usuario: @equipe.avaliador, descricao: "Avaliador" %>
        </div>
      <% end %>

      <% if @equipe.padrinho.present? %>
        <div class="col-auto ms-7">
          <%= render "equipes/responsavel", usuario: @equipe.padrinho, descricao: "Padrinho" %>
        </div>
      <% end %>

      <% if current_usuario.admin? %>
        <div class="col-auto ms-12">
          <a data-bs-toggle="dropdown" class="text-muted" href=""><%= icon "gear" %></a>

          <div class="dropdown-menu">
            <%= link_to "Editar", [:edit, @equipe], class: "dropdown-item" %>
            <%= link_to "Deletar equipe", @equipe, class: "dropdown-item text-danger", data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" } %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card-body px-6 pt-5 pb-4" style="overflow-x: scroll;">
      <div id="<%= dom_id @equipe, :puzzle %>" class="puzzle clearfix">
        <%= render @equipe.participacoes %>
        <%= render "equipes/add_participacao_btn", equipe: @equipe if current_usuario.admin? %>
      </div>

      <%= turbo_frame_tag :participacoes_form, @equipe %>
    </div>
  </div>
<% end %>
