<%= turbo_frame_tag :participacao do %>
  <div class="modal-content position-relative">
    <div class="modal-header align-items-center" style="position: sticky; top: 0; z-index: 1055; background-color: white;">
      <div class="d-flex align-items-center">
        <span class="avatar">
          <%= image_tag @participacao.participante.avatar_url, class: "avatar-img rounded-circle" %>
        </span>

        <div class="ms-2">
          <h5 class="modal-title mb-0 lh-sm"><%= @participacao.participante.nome %></h5>
          <span class="align-middle me-1"><%= @participacao.equipe.nome %></span>
          <span>
            <a data-bs-toggle="dropdown" class="text-muted" href="#">
              <%= icon "gear", size: 13 %>
            </a>

            <div class="dropdown-menu">
              <%= link_to "Impersonate", impersonate_usuario_path(@participacao.participante), class: "dropdown-item" %>
            </div>
          </span>
        </div>
      </div>

      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <%= turbo_frame_tag "feedback-form" do %>
        <%= render "new_feedback_btn", participacao: @participacao %>
      <% end %>

      <% if @nota %>
        <details class="mb-2">
          <summary>Modelo</summary>

          <div class="rounded p-3 border">
            <p>Alinhamento inicial/quebra gelo: escrever o parecer geral de como foram os três meses, ressaltando que a conversa se refere a esse período.</p>

            <p>Exemplo</p>

            <p>Colaborador ficou responsável pelo crédito e seguros nesse período, vamos falar sobre como foi o desempenho geral, bem como, os pontos de destaques e os que precisam ser desenvolvidos.</p>

            <p>Pontos Positivos: No período avaliado o que a colaboradora mostrou de pontos que contribuíram para o desenvolvimento das atividades como um todo? O que dos comportamentos desempenhados podem ser citados como pontos positivos?</p>

            <p class="rounded border text-muted p-2">É importante colocar exemplo prático. Ex: No dia tal a colaboradora realizou um atendimento ao cooperado X com empatia e fechou negócio. Isso impactou positivamente para o resultado da agência.</p>

            <p>Pontos de desenvolvimento: Colocar aqui os pontos que você observou que precisam ser melhorados ex: Relacionamento interpessoal, é perceptível um afastamento da colaboradora com os colegas de trabalho.</p>

            <p>Impactos Gerados:  isso impacta negativamente o negócio já que para conseguimos alcançar nossos resultados precisamos da ajuda de todos.</p>

            <p>Sugestão de melhoria: Tente se relacionar melhor com seus pares de trabalho, quando tiver dúvida em alguma questão não hesite em perguntar para alguém, buscar ajuda. Da mesma forma, quando alguém precisar de suporte se colocar para ajudar pode ser uma opção.</p>

            <p>OBS: Seguir a linha de: Pontuar, apresentar sugestão para melhoria apresentar os impactos gerados.</p>

            <p>OBS: Evitar Pessoalidades como: Quero te ajudar, quero me aproximar.</p>

            <p><strong>Tópicos Feedback</strong></p>

            <p>Quebra Gelo: Essa conversa inicial é para quebrar a ansiedade e conversar sobre a percepção do colaborador durante o ciclo que passou, como ele está percebendo seu desenvolvimento etc.</p>

            <p>Destaques/Pontos positivos:  Pontos de destaques observados durante esse ciclo.</p>

            <p>Upgrades/Pontos de desenvolvimento: Pontos que precisam de atenção de melhoria e acompanhamento.</p>

            <p>Manutenção: Pontos que serão acompanhados para desenvolvimento.</p>
          </div>
        </details>

        <details>
          <summary>Anotações</summary>
          <%= render @nota %>
        </details>
      <% end %>

    </div>

    <div class="modal-body">
      <%= turbo_frame_tag :feedbacks do %>
        <%= render @feedbacks %>
      <% end %>
    </div>
  </div>
<% end %>
