<div class="container d-flex flex-stack flex-wrap flex-sm-nowrap my-8">
  <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-1">
    <h3 class="fw-bolder my-1">
      <%= link_to "Feedback", root_path, class: "text-dark" %>
    </h3>

    <ul class="breadcrumb align-items-center breadcrumb-line bg-transparent p-0 my-1 fs-7">
      <li class="breadcrumb-item text-muted">Ciclos</li>

      <li class="breadcrumb-item text-muted ms-n2">
        <a data-bs-toggle="dropdown" class="dropdown-toggle fw-bold" href="#"><%= @ciclo.try(:nome) || "-- Selecionar" %></a>

        <div class="dropdown-menu" style="z-index: 1030;">
          <% Ciclo.order(created_at: :desc).each do |ciclo| %>
            <%= link_to ciclo.nome, ciclo, class: "dropdown-item #{"active" if ciclo == @ciclo}" %>
          <% end %>
        </div>
      </li>

      <% if current_usuario.admin? %>
        <li class="breadcrumb-item text-muted ms-n2">
          <a data-bs-toggle="dropdown" class="text-muted" href="#">
            <%= icon "gear", size: 12, class: "mt-n1" %>
          </a>

          <div class="dropdown-menu" style="z-index: 1030;">
            <%= link_to "Novo ciclo", new_ciclo_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="d-flex align-items-center flex-nowrap text-nowrap overflow-auto py-1">
    <%= link_to "Minhas equipes", minhas_equipes_path, class: "btn btn-active-accent fw-bolder ms-3 #{"active" if current_page?(meus_feedbacks_path)}" %>
    <%= link_to "Meus feedbacks", meus_feedbacks_path, class: "btn btn-active-accent fw-bolder ms-3 #{"active" if current_page?(meus_feedbacks_path)}" %>
    <%= image_tag current_usuario.avatar_url, class: "ms-5 rounded-circle", style: "width: 32px;", title: "#{current_usuario.nome} (#{current_usuario.id})" %>
  </div>
</div>
