<!DOCTYPE html>
<html>
  <head>
    <title>Feedback</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "navbar" if usuario_signed_in? %>
    <%= render "participacao_modal" if usuario_signed_in? %>

    <div class="container" style="padding-top: 6rem;">
      <%= yield %>
    </div>
  </body>
</html>
